/*********轮播上面样式**********/
.site-header{
    position: relative;
    
}
.header-container{
    width: 1226px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;/***大盒子加弹性***/
}
.header-container ::after{
    content: "";
    clear: both;
}
.header-container div img{
    width: 55px;
    height: 55px;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 20px;
}

.header-nav{
    position: relative;
    width: 820px;
    height: 88px;
    padding-top:35px;
    padding-left:130px;
    
    z-index: 10;
    left: 0px;
    top: 0px;
    
}
.header-nav li{
    float: left;/***li 浮动***/
   
}
.header-nav  li a{
    color: #333;
    font-size: 16px;
    margin-left: 15px;
    text-align: center;
    vertical-align: bottom;
    
}

/******输入框******/

.container-search {
    height: 70px;
    width: 800px;
    margin: 100px auto 0 auto;
}
.parent {
    position: relative;
}
.search {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}
.btn {
    height: 35px;
    width: 35px;
    position: absolute;
    background: url("../img/lb/search.png") no-repeat -2px -99px;
    background-color: #333;
    top: 6px;
    left: 285px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 20
}

